<!DOCTYPE html>
<html>
  <head>
    <title>Digital Wesleyan Fellowship</title>
    <link href="students.css" rel="stylesheet"/>
    <link href="./fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="header">
      <div class="headshot"></div>
      <img src="#"/>
      <h1 class="name">Allison Greenwald</h1>
      <ul class="social">
        <li><a href="#">
          <i class="https://twitter.com/therealallieg"></i>
        </a></li>
        <li><a href="#">
          <i class="www.linkedin.com/pub/allison-greenwald/37/861/213"></i>
        </a></li>
        <li><a href="#">
          <i class="https://github.com/argreenwald"></i>
        </a></li>
      </ul>
    </div>
    <div class="about">
      <h2>About</h2>
      <ul>
        <li>Major: Sociology & Studio Art (Typography/Graphic Design)</li>
        <li>Graduation Year: 2014</li>
        <li>Hometown: Woodcliff Lake, NJ</li>
      </ul>
      <h2>Bio</h2>
      <p>Hi! I’m Allison, a senior at Wesleyan University from Woodcliff Lake, NJ. At Wes, I’m a sociology and studio art double major with a concentration in typography and graphic design, and I’m also interested in African Studies. Last fall, I studied abroad in Ghana and last summer, I returned to Ghana to research indigenous wall murals and their relationship to tourism. These murals have come to inspire much of own design work, which is highly geometric in nature. Currently, I’m working on an art thesis that explores personal data encryption. For my thesis, I'm making a collection of encrypted prints, a 20 foot installation and an iPhone app to allow users to encrypt their own data within the gallery space (and hopefully in the app store!). With help from Digital Wes, I’m very excited to make my app a reality and learn all about coding and web development to continue to execute my design visions in the future! e</p>
    </div>
    <div class="project">
      <h2>Project</h2>
      <h3>COMING SOON!</h3>
    </div>
  </body>
</html>